* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #363636;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.logo-container{
	    width: 10%;
    display: flex;
}

.logo-image{
	display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
	margin-right: 10px;
	padding: 10px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem
    width: 100%
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
	font-size:16px;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;

}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}
.left-pane {
    float: left;
    width: 40%;
    padding: 0px 100px 0px 0px;
    box-sizing: border-box;
}

.right-pane {
	float:right;
    width: 60%;
    box-sizing: border-box;
	
}


.tools {
	padding-left: 85px;
	}

@media screen and (max-width: 960px) {
	
	.tools {
	padding-left: 10px;
	}

    
    .left-pane {
        width: 100%;
    }
    .right-pane {
        margin-left: 0;
        width: 100%;
    }
	
	
	
	.tools {
	padding-left: 10px;
}
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width:1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
        
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 110vh;
        font-size:1,6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }


    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;

    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section CSS*/
.main{
    background-color: #141414;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: Linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: Linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color:#fff;

}

.main__btn {
    font-size: 1rem;
    background-image: Linear-gradient(to top, #f77062 0%, #fe5199 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 100%;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container{
    text-align: center;
}
.solutions {
	padding: 70px 50px 50px 50px;
}
.section2 {
    display: flex;
    flex-wrap: wrap;
}
.about-body{
	background:black;
}
.about-section{
	display: flex;
    flex-wrap: wrap;
	padding: 100px 200px 0px 200px;
}

.about-left-pane {
    float: left;
    width: 40%;
    padding: 0px 100px 0px 0px;
    box-sizing: border-box;
}

.about-right-pane {
	line-height: 1.8;
	float:right;
    width: 60%;
    box-sizing: border-box;
	color: white;
	padding-top: 100px;
}
.experience-container{
	display: flex;
    flex-wrap: wrap;
	padding: 100px 200px 0px 200px;
	color:white;
}

.experience-left {
    float: left;
    width: 50%;
    padding: 0px 100px 0px 0px;
    box-sizing: border-box;
}

.experience-right {
	float:right;
    width: 50%;
    box-sizing: border-box;
	
}

.experience-row {
	margin: 20px 0 50px 0;
	width: 100%;
}

.section3 {
    padding: 40px 100px 40px 100px;
    display: flex;
    flex-wrap: wrap;
}

.section5 {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
	padding: 40px 100px 40px 100px;
}

.section6 {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
	padding: 40px 100px 40px 100px;
}

.section7 {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
	padding: 40px 100px 40px 100px;
}


/*Services Section CSS*/
.services {
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
    height: 100vh;
}

.services h1 {
    background-color: #ff8177;
    background-image: Linear-gradient(
        to right, 
        #ff8177 0%,
        #ff867a 0%,
        #ff8c7f 21%,
        #f99185 52%,
        #cf556c 78%,
        #b12a5b 100%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.left-pane h1{
    background-color: #ff8177;
    background-image: Linear-gradient(
        to right, 
        #ff8177 0%,
        #ff867a 0%,
        #ff8c7f 21%,
        #f99185 52%,
        #cf556c 78%,
        #b12a5b 100%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.right-title {
    padding: 40px;
}
.title {
	margin: 0px 40px 40px 0px;
}
.services__container {
    display: flex;
    /*flex-wrap: wrap;*/
    width: 100%;
    justify-content: center;
    

}

.services__card1 {
    float: left;
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    margin: 1rem;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, );
}

.header {
    text-align: left;
}

.services__card2 {
    float: none;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, );
}

.double__diamond{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
	padding: 40px 100px 40px 100px;
}

.double__diamondtext {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    border-radius: 4px;
}

.doublediamond-image {
    width: 100%;
}

.section5-image {
	width: 100%;
}

.section6-image {
	width: 100%;
}

.section7-image {
	width: 100%
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__menu li {
    display: inline;
    margin-right: 20px;
}

.footer__menu li:last-child {
    margin-right: 0;
}

.footer__menu a {
    color: #fff;
    text-decoration: none;
}

.home-left-pane{
	float: left;
    width: 50%;
    box-sizing: border-box;
}

.home-right-pane{
	float:right;
    width: 50%;
    box-sizing: border-box;
}
.home-section{
	display: flex;
    flex-wrap: wrap;
	text-align: center;
	padding: 0px 200px 0px 200px;
}
.home-section img{
	    height: 80%;
    width: 85%;
	margin-top: 60px;
}
.hover-img {
    transition: transform 0.3s ease;
}

.hover-img:hover {
    transform: scale(1.1); /* Scale the image by 110% on hover */
}
/* Button style */
#showFormButton {
	font-size: 18px;
}

/* Form container style */
#contactFormContainer {
    display: none;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
	text-align: left;
}

.show-form-container{
	text-align: center;
}

.show-form-container button{
	width: 50%;
	text-align: center;
	display: inline-block;
    justify-content: center
}


.submit-container{
		text-align: center;
}
.submit-container button{
	width: 20%;
	text-align: center;
	display: inline-block;
    justify-content: center
}


/* Form input style */
#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Form submit button style */
#contactForm input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Form submit button hover effect */
#contactForm input[type="submit"]:hover {
    background-color: #555;
	
}

.contact-container {
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 40px;
    margin-bottom: 50px;
	margin-top: 50px;
	color: white;
}

.contact-container > div {
    flex-grow: 1;
	width: 100%;
}


#contactFormContainer {
    display: none;
	width:100%;
}


/* Standardstilar för desktop */
/* Lägg till här dina befintliga stilar för desktop */

@media only screen and (max-width: 1200px) {
    /* Anpassa stilar för skärmar upp till 1200px breda */
    .home-section {
        padding: 0px 100px;
    }
    .home-section img {
        width: 80%;
        margin-top: 40px;
    }
		.about-left-pane {
		padding: 0px;
		display: flex;
        width: 50%;
    }
    .about-right-pane {
        margin-left: 0;
		display: flex;
        width: 50%;
		
    }
	
	.about-section{
		padding: 40px;
	    display: flex;
        flex-wrap: wrap;
	}
	.experience-container{
	
	padding: 40px;

	}
	.experience-container{
	
		padding: 40px;
	}
}

@media only screen and (max-width: 992px) {
    /* Anpassa stilar för skärmar upp till 992px breda */
    .home-section {
        padding: 0px 50px;
    }
    .home-section img {
        width: 80%;
        margin-top: 30px;
    }
		.about-left-pane {
		padding: 0px;
		display: flex;
        width: 50%;
    }
    .about-right-pane {
        margin-left: 0;
		display: flex;
        width: 50%;
    }
	
	.about-section{
		
	    display: flex;
        flex-wrap: wrap;
}
}

@media only screen and (max-width: 768px) {
    /* Anpassa stilar för skärmar upp till 768px breda */
    .home-section {
       
    }
    .home-section img {
        width: 80%;
        margin-top: 20px;
    }
	.about-left-pane {
		padding: 0px;
		display: flex;
        width: 100%;
    }
    .about-right-pane {
        margin-left: 0;
		display: flex;
        width: 100%;
    }
	
	.about-section{
		
	    display: flex;
        flex-wrap: wrap;
}
}

@media only screen and (max-width: 576px) {
    /* Anpassa stilar för skärmar upp till 576px breda (typiskt mobil) */
    .home-section {
        flex-direction: column;
    }
    .home-left-pane,
    .home-right-pane {
        width: 100%;
		margin-bottom: 20px;
    }
    .home-section img {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
	

	.experience-left, 
	.experience-right {
		 width: 100%;	
         margin-bottom: 50px;	 
	}

	.experience-row {
		margin: 2px 0 5px 0;
		
	}
	.submit-container button{
		width: 40%;
	}
}

.homebody{
	background-color: black;
}
